In [1]:
# SQL BUILT IN FUNCTIONS

# SCALAR FUNCTIONS - FUNCTIONS # 1.string Functions..

# String Functions : UPPER, LOWER, CONCAT, REPLACE, TRIM, SUBSTR, INSTR,LENGTH

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector as d
from tabulate import tabulate
mydb = d.connect(host = 'localhost', user = 'root', passwd = 'Loveumom@123')
cursor = mydb.cursor()

In [4]:
cursor.execute("SHOW DATABASES")
print(tabulate(cursor.fetchall(), headers = ['DATABASES'],tablefmt = 'pretty'))

+--------------------+
|     DATABASES      |
+--------------------+
|     cardataset     |
| information_schema |
|       mysql        |
| performance_schema |
|      sidfirst      |
|    sqlpractice1    |
|        sys         |
+--------------------+

In [5]:
cursor.execute("USE sidfirst")
cursor.execute("SHOW TABLES")
print(tabulate(cursor.fetchall(),headers=['TABLES in sidfirst'],tablefmt = 'pretty'))

+--------------------+
| TABLES in sidfirst |
+--------------------+
|     glassdata      |
|   healthcaredata   |
|      ineuron       |
|      mysales       |
|       sales        |
|        sid1        |
|      workers       |
+--------------------+

In [11]:
cursor.execute("""
CREATE TABLE sidfirst.healthcaredata(
id INT PRIMARY KEY,
patient_name VARCHAR(255),
diagnosis VARCHAR(255),
treatment VARCHAR (255));
""")

In [17]:
cursor.execute("""
INSERT INTO sidfirst.healthcaredata(id,patient_name,diagnosis,treatment)VALUES
(1, 'John Doe', 'Hypertension', 'Medication'),
(2, 'Jane Smith', 'Diabetes', 'Insulin'),
(3, 'Robert Brown', 'Asthma', 'Inhaler'),
(4, 'Emily Davis', 'Flu', 'Rest and fluids'),
(5, 'Michael Johnson', 'Hypertension', 'Lifestyle changes'),
(6, 'Sarah Wilson', 'Anxiety', 'Therapy'),
(7, 'David Martinez', 'Back Pain', 'Physical therapy'),
(8, 'Laura Garcia', 'Flu', 'Medication'),
(9, 'James Rodriguez', 'Diabetes', 'Diet control'),
(10, 'Mary Hernandez', 'Asthma', 'Medication'),
(11, 'Daniel Lopez', 'Hypertension', 'Medication'),
(12, 'Linda Gonzalez', 'Flu', 'Rest and fluids'),
(13, 'Joseph Perez', 'Anxiety', 'Medication'),
(14, 'Karen Lee', 'Back Pain', 'Painkillers'),
(15, 'Thomas White', 'Diabetes', 'Exercise'),
(16, 'Jessica Harris', 'Asthma', 'Inhaler'),
(17, 'Christopher Clark', 'Hypertension', 'Medication'),
(18, 'Patricia Lewis', 'Anxiety', 'Meditation'),
(19, 'Matthew Walker', 'Flu', 'Medication'),
(20, 'Lisa Hall', 'Back Pain', 'Surgery');
""")

In [18]:
mydb.commit()

In [19]:
cursor.execute("SELECT * FROM sidfirst.healthcaredata")

In [20]:
results = cursor.fetchall()
columns = [column[0] for column in cursor.description]
print(tabulate(results,headers = columns,tablefmt = 'pretty'))

+----+-------------------+--------------+-------------------+
| id |   patient_name    |  diagnosis   |     treatment     |
+----+-------------------+--------------+-------------------+
| 1  |     John Doe      | Hypertension |    Medication     |
| 2  |    Jane Smith     |   Diabetes   |      Insulin      |
| 3  |   Robert Brown    |    Asthma    |      Inhaler      |
| 4  |    Emily Davis    |     Flu      |  Rest and fluids  |
| 5  |  Michael Johnson  | Hypertension | Lifestyle changes |
| 6  |   Sarah Wilson    |   Anxiety    |      Therapy      |
| 7  |  David Martinez   |  Back Pain   | Physical therapy  |
| 8  |   Laura Garcia    |     Flu      |    Medication     |
| 9  |  James Rodriguez  |   Diabetes   |   Diet control    |
| 10 |  Mary Hernandez   |    Asthma    |    Medication     |
| 11 |   Daniel Lopez    | Hypertension |    Medication     |
| 12 |  Linda Gonzalez   |     Flu      |  Rest and fluids  |
| 13 |   Joseph Perez    |   Anxiety    |    Medication     |
| 14 |     Karen Lee     |  Back Pain   |    Painkillers    |
| 15 |   Thomas White    |   Diabetes   |     Exercise      |
| 16 |  Jessica Harris   |    Asthma    |      Inhaler      |
| 17 | Christopher Clark | Hypertension |    Medication     |
| 18 |  Patricia Lewis   |   Anxiety    |    Meditation     |
| 19 |  Matthew Walker   |     Flu      |    Medication     |
| 20 |     Lisa Hall     |  Back Pain   |      Surgery      |
+----+-------------------+--------------+-------------------+

In [21]:
# 1. UPPER function : to convert string to upper case

cursor.execute("""
SELECT id,patient_name, UPPER(patient_name) AS UPPERCASE_NAMES FROM sidfirst.healthcaredata
""")

In [22]:
print(tabulate(cursor.fetchall(),headers = [column[0] for column in cursor.description], tablefmt = 'pretty'))

+----+-------------------+-------------------+
| id |   patient_name    |  UPPERCASE_NAMES  |
+----+-------------------+-------------------+
| 1  |     John Doe      |     JOHN DOE      |
| 2  |    Jane Smith     |    JANE SMITH     |
| 3  |   Robert Brown    |   ROBERT BROWN    |
| 4  |    Emily Davis    |    EMILY DAVIS    |
| 5  |  Michael Johnson  |  MICHAEL JOHNSON  |
| 6  |   Sarah Wilson    |   SARAH WILSON    |
| 7  |  David Martinez   |  DAVID MARTINEZ   |
| 8  |   Laura Garcia    |   LAURA GARCIA    |
| 9  |  James Rodriguez  |  JAMES RODRIGUEZ  |
| 10 |  Mary Hernandez   |  MARY HERNANDEZ   |
| 11 |   Daniel Lopez    |   DANIEL LOPEZ    |
| 12 |  Linda Gonzalez   |  LINDA GONZALEZ   |
| 13 |   Joseph Perez    |   JOSEPH PEREZ    |
| 14 |     Karen Lee     |     KAREN LEE     |
| 15 |   Thomas White    |   THOMAS WHITE    |
| 16 |  Jessica Harris   |  JESSICA HARRIS   |
| 17 | Christopher Clark | CHRISTOPHER CLARK |
| 18 |  Patricia Lewis   |  PATRICIA LEWIS   |
| 19 |  Matthew Walker   |  MATTHEW WALKER   |
| 20 |     Lisa Hall     |     LISA HALL     |
+----+-------------------+-------------------+

In [26]:
# 2. LOWER function : to covert string to lower case
cursor.execute("""
SELECT id, patient_name, LOWER(patient_name) AS LOWERCASE_NAMES FROM sidfirst.healthcaredata
""")

In [27]:
print(tabulate(cursor.fetchall(),headers = [column[0] for column in cursor.description],tablefmt = 'pretty'))

+----+-------------------+-------------------+
| id |   patient_name    |  LOWERCASE_NAMES  |
+----+-------------------+-------------------+
| 1  |     John Doe      |     john doe      |
| 2  |    Jane Smith     |    jane smith     |
| 3  |   Robert Brown    |   robert brown    |
| 4  |    Emily Davis    |    emily davis    |
| 5  |  Michael Johnson  |  michael johnson  |
| 6  |   Sarah Wilson    |   sarah wilson    |
| 7  |  David Martinez   |  david martinez   |
| 8  |   Laura Garcia    |   laura garcia    |
| 9  |  James Rodriguez  |  james rodriguez  |
| 10 |  Mary Hernandez   |  mary hernandez   |
| 11 |   Daniel Lopez    |   daniel lopez    |
| 12 |  Linda Gonzalez   |  linda gonzalez   |
| 13 |   Joseph Perez    |   joseph perez    |
| 14 |     Karen Lee     |     karen lee     |
| 15 |   Thomas White    |   thomas white    |
| 16 |  Jessica Harris   |  jessica harris   |
| 17 | Christopher Clark | christopher clark |
| 18 |  Patricia Lewis   |  patricia lewis   |
| 19 |  Matthew Walker   |  matthew walker   |
| 20 |     Lisa Hall     |     lisa hall     |
+----+-------------------+-------------------+

In [35]:
#3.CONCAT function : to concatenates two or more strings
# syntax : select CONCAT (string1,strinng2.string3,...)

cursor.execute("""
SELECT id,patient_name, CONCAT('diagno : ',diagnosis,'--> tratment : ',treatment) AS diagnosis_treatment FROM sidfirst.healthcaredata
""")

In [36]:
print(tabulate(cursor.fetchall(),headers = [column[0] for column in cursor.description],tablefmt = 'pretty'))

+----+-------------------+-------------------------------------------------------+
| id |   patient_name    |                  diagnosis_treatment                  |
+----+-------------------+-------------------------------------------------------+
| 1  |     John Doe      |    diagno : Hypertension--> tratment : Medication     |
| 2  |    Jane Smith     |        diagno : Diabetes--> tratment : Insulin        |
| 3  |   Robert Brown    |         diagno : Asthma--> tratment : Inhaler         |
| 4  |    Emily Davis    |      diagno : Flu--> tratment : Rest and fluids       |
| 5  |  Michael Johnson  | diagno : Hypertension--> tratment : Lifestyle changes |
| 6  |   Sarah Wilson    |        diagno : Anxiety--> tratment : Therapy         |
| 7  |  David Martinez   |   diagno : Back Pain--> tratment : Physical therapy   |
| 8  |   Laura Garcia    |         diagno : Flu--> tratment : Medication         |
| 9  |  James Rodriguez  |     diagno : Diabetes--> tratment : Diet control      |
| 10 |  Mary Hernandez   |       diagno : Asthma--> tratment : Medication        |
| 11 |   Daniel Lopez    |    diagno : Hypertension--> tratment : Medication     |
| 12 |  Linda Gonzalez   |      diagno : Flu--> tratment : Rest and fluids       |
| 13 |   Joseph Perez    |       diagno : Anxiety--> tratment : Medication       |
| 14 |     Karen Lee     |     diagno : Back Pain--> tratment : Painkillers      |
| 15 |   Thomas White    |       diagno : Diabetes--> tratment : Exercise        |
| 16 |  Jessica Harris   |         diagno : Asthma--> tratment : Inhaler         |
| 17 | Christopher Clark |    diagno : Hypertension--> tratment : Medication     |
| 18 |  Patricia Lewis   |       diagno : Anxiety--> tratment : Meditation       |
| 19 |  Matthew Walker   |         diagno : Flu--> tratment : Medication         |
| 20 |     Lisa Hall     |       diagno : Back Pain--> tratment : Surgery        |
+----+-------------------+-------------------------------------------------------+

In [13]:
#3. REPLACE 
# it replaces substring in a given string with new string-- substring --> part of string. example: string--> "SQL fundamentals" then substring--> "SQL" or "Fundamentals"
# syntax: REPLACE (string, old string, new string) --> ( "SQL Fundamentals", "SQL", "PYTHON" ) --> replacing SQL with PYTHON

# REPLACING Flu --> with ---> Fever

cursor.execute("""
SELECT id, diagnosis, REPLACE(diagnosis,"Flu","Feverr") AS New_diagnosis FROM sidfirst.healthcaredata
""")

In [14]:
print(tabulate(cursor.fetchall(),headers = [column[0] for column in cursor.description],tablefmt = "pretty"))

+----+--------------+---------------+
| id |  diagnosis   | New_diagnosis |
+----+--------------+---------------+
| 1  | Hypertension | Hypertension  |
| 2  |   Diabetes   |   Diabetes    |
| 3  |    Asthma    |    Asthma     |
| 4  |     Flu      |    Feverr     |
| 5  | Hypertension | Hypertension  |
| 6  |   Anxiety    |    Anxiety    |
| 7  |  Back Pain   |   Back Pain   |
| 8  |     Flu      |    Feverr     |
| 9  |   Diabetes   |   Diabetes    |
| 10 |    Asthma    |    Asthma     |
| 11 | Hypertension | Hypertension  |
| 12 |     Flu      |    Feverr     |
| 13 |   Anxiety    |    Anxiety    |
| 14 |  Back Pain   |   Back Pain   |
| 15 |   Diabetes   |   Diabetes    |
| 16 |    Asthma    |    Asthma     |
| 17 | Hypertension | Hypertension  |
| 18 |   Anxiety    |    Anxiety    |
| 19 |     Flu      |    Feverr     |
| 20 |  Back Pain   |   Back Pain   |
+----+--------------+---------------+

In [25]:
#4. TRIM FUNCTION : Removes trailing and leading spaces-- syntax--> TRIM(String)
cursor.execute("""
SELECT id, TRIM(patient_name) AS Trimmed_Name FROM sidfirst.healthcaredata
""")

In [26]:
print(tabulate(cursor.fetchall(),headers=[column[0] for column in cursor.description],tablefmt = 'pretty'))

+----+-------------------+
| id |   Trimmed_Name    |
+----+-------------------+
| 1  |     John Doe      |
| 2  |    Jane Smith     |
| 3  |   Robert Brown    |
| 4  |    Emily Davis    |
| 5  |  Michael Johnson  |
| 6  |   Sarah Wilson    |
| 7  |  David Martinez   |
| 8  |   Laura Garcia    |
| 9  |  James Rodriguez  |
| 10 |  Mary Hernandez   |
| 11 |   Daniel Lopez    |
| 12 |  Linda Gonzalez   |
| 13 |   Joseph Perez    |
| 14 |     Karen Lee     |
| 15 |   Thomas White    |
| 16 |  Jessica Harris   |
| 17 | Christopher Clark |
| 18 |  Patricia Lewis   |
| 19 |  Matthew Walker   |
| 20 |     Lisa Hall     |
+----+-------------------+

In [33]:
# 5. SUBSTR --> extracts a substring from a string, syntax : SUBSTR(string,start,length) -- length is optional

cursor.execute("""
SELECT id,patient_name, SUBSTR(patient_name,1,5) AS Short_names FROM sidfirst.healthcaredata
""")

In [34]:
print(tabulate(cursor.fetchall(),headers = [column[0] for column in cursor.description],tablefmt = 'pretty'))

+----+-------------------+-------------+
| id |   patient_name    | Short_names |
+----+-------------------+-------------+
| 1  |     John Doe      |    John     |
| 2  |    Jane Smith     |    Jane     |
| 3  |   Robert Brown    |    Rober    |
| 4  |    Emily Davis    |    Emily    |
| 5  |  Michael Johnson  |    Micha    |
| 6  |   Sarah Wilson    |    Sarah    |
| 7  |  David Martinez   |    David    |
| 8  |   Laura Garcia    |    Laura    |
| 9  |  James Rodriguez  |    James    |
| 10 |  Mary Hernandez   |    Mary     |
| 11 |   Daniel Lopez    |    Danie    |
| 12 |  Linda Gonzalez   |    Linda    |
| 13 |   Joseph Perez    |    Josep    |
| 14 |     Karen Lee     |    Karen    |
| 15 |   Thomas White    |    Thoma    |
| 16 |  Jessica Harris   |    Jessi    |
| 17 | Christopher Clark |    Chris    |
| 18 |  Patricia Lewis   |    Patri    |
| 19 |  Matthew Walker   |    Matth    |
| 20 |     Lisa Hall     |    Lisa     |
+----+-------------------+-------------+

In [6]:
# 6. Length : length of string or text or column values
cursor.execute("""
SELECT id,patient_name,LENGTH(patient_name) AS Lenght_name FROM sidfirst.healthcaredata
""")

In [7]:
print(tabulate(cursor.fetchall(),headers = [column [0] for column in cursor.description],tablefmt = 'pretty'))

+----+-------------------+-------------+
| id |   patient_name    | Lenght_name |
+----+-------------------+-------------+
| 1  |     John Doe      |      8      |
| 2  |    Jane Smith     |     10      |
| 3  |   Robert Brown    |     12      |
| 4  |    Emily Davis    |     11      |
| 5  |  Michael Johnson  |     15      |
| 6  |   Sarah Wilson    |     12      |
| 7  |  David Martinez   |     14      |
| 8  |   Laura Garcia    |     12      |
| 9  |  James Rodriguez  |     15      |
| 10 |  Mary Hernandez   |     14      |
| 11 |   Daniel Lopez    |     12      |
| 12 |  Linda Gonzalez   |     14      |
| 13 |   Joseph Perez    |     12      |
| 14 |     Karen Lee     |      9      |
| 15 |   Thomas White    |     12      |
| 16 |  Jessica Harris   |     14      |
| 17 | Christopher Clark |     17      |
| 18 |  Patricia Lewis   |     14      |
| 19 |  Matthew Walker   |     14      |
| 20 |     Lisa Hall     |      9      |
+----+-------------------+-------------+